
html, body
{
  font-family: Lato;
  font-size: 10pt;
}


h1
{
  small
  {
    font-size: 40%;
  }
}

.counterClicker
{
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}